/* Kännykän tyylitiedosto 
.site-header {
    padding: 3;
    text-align: right;
    background-color: #7d3f92;
    font-family: "Open Sans","Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    font-size: 1.675rem;
}

.site-footer {
    padding: 1.25rem 0;
    background: #7d3f92;
    color: #fff;
    letter-spacing: .0875rem;
}
*/